name: deploy-book

on:
  push:
    branches:
      - master

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch
      pages: write     # To deploy to Pages
      id-token: write  # To verify the deployment

    steps:
      - uses: actions/checkout@v3

      # Install Python
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # Install Jupyter Book
      - name: Install dependencies
        run: |
          pip install jupyter-book

      # Build the book
      - name: Build the book
        run: |
          jupyter-book build PredictingRedTides/

      # Upload the built HTML to GitHub Pages
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: PredictingRedTides/_build/html